.footer {
  display: flex;
  justify-content: space-between;
  width: 1366px;
  height: 224px;
  margin: 0 auto;
  background: #F6F7FF;
}

.footer__inner {
  display: flex;
  margin: 49px 98px 49px 98px;
}