.converter__container {
  height: 500px;
}

.converter__inner {
  margin: 70px 98px;
}

.converter__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 57px;
  color: #1F1E25;
}